* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
}

body {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 10px;
      background-image: url(img/dragon-ball-background-hrrpa3u2wp32bn8k.jpg);
    }
    .block {
        background-image: url();
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      height: 90vh;
      overflow-y: auto;
      background: rgba(255,255,255,0.2);
    }
    video {
      width: 100%;
      height: auto;
    }
    .video-item {
      margin-bottom: 10px;
      cursor: pointer;
    }
    .rating {
        display: flex;
        gap: 8px;
        margin-top: 50px;
    }
    .star {
          font-size: 50px;
      cursor: pointer;
    }
    .star:hover,
    .star.active {
      color: gold;
    }
#favorites {
    flex: 1;
    width: 16vw;
}

#playerBlock {
    flex: 2;
}

#allVideos {
    flex: 1;
}