* {
    font-family: 'Segoe UI', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #292828;
    height: 94vh;
    padding: 25px;
}

.container {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border: ridge 10px rgb(44, 44, 34);
    gap: 3vw;
}

.favorite {
    height: 90vh;
    width: 16vw;
    border: ridge 5px #3f3e3e;
}

.player-container {
    height: 90vh;
    width: 50vw;
    border: ridge 5px #3f3e3e;
}

.video {
    height: 90vh;
    width: 16vw;
    border: ridge 5px #3f3e3e;
}